@font-face {
  font-family: 'arbonnie';
  src: url("../font/ARBONNIE.ttf") format("truetype"); }

.btn-align {
  display: flex;
  flex-direction: row; }

.circle-btn, .btn-oneline {
  height: 3rem;
  border-radius: 10px;
  border: 1px solid #26a69a;
  text-align: center; }

.circle-btn {
  margin: 0 1rem; }

.btn-oneline {
  width: 60%; }
  .btn-oneline a {
    color: #c9c9c9; }

.code-link {
  color: #26a69a;
  display: inline-block;
  width: 100%; }

.circle-btn:hover {
  transition: all 0.3s ease-in-out;
  background: rgba(38, 166, 154, 0.2); }

.middle-btn {
  margin-bottom: 2rem; }

@media screen and (max-width: 770px) {
  .btn-oneline {
    top: 0; }
    .btn-oneline a {
      bottom: 0; } }

html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
  color: #ffffff; }

p {
  line-height: 2rem; }

.type-writer1, type-writer2, type-writer3 {
  visibility: hidden; }

.button-collapse {
  color: #26a69a; }

.title-font-size {
  font-size: 2.5rem; }

.bonnie-font {
  font-family: "arbonnie"; }

.menu-font-size {
  font-size: 1.5rem; }

.mylogo {
  position: relative;
  top: 6rem; }

.my-header {
  height: 600px; }

#js-lists {
  margin-left: 1rem; }

#js-lists > li {
  line-height: 3rem;
  margin-top: 0.3rem;
  padding-left: 0; }

#html-list, #php-list {
  line-height: 3rem;
  width: 100%; }
  #html-list li:nth-child(1), #php-list li:nth-child(1) {
    width: 100%; }
  #html-list li:nth-child(2), #php-list li:nth-child(2) {
    width: 93%;
    margin-left: 0.7rem; }

.middle-div {
  border-top: 0.3px solid #26a69a;
  border-bottom: 0.3px solid #26a69a; }

.l-height {
  line-height: 12rem; }

.align {
  text-align: left; }

.d-height {
  height: 12rem; }

@media screen and (max-width: 770px) {
  .l-height {
    line-height: 4rem; }
  .align {
    text-align: center; } }

@media screen and (max-width: 770px) {
  .d-height ul {
    line-height: 3rem; } }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; } }

@media screen and (max-width: 770px) {
  #index-banner .section {
    top: 0; } }

.left-align li p {
  margin: 0 auto; }

.edu p {
  color: #818181; }

footer.page-footer {
  margin: 0; }

#jp, #en {
  opacity: 0; }

#jp {
  padding-top: 2em;
  writing-mode: vertical-rl;
  font-weight: bold; }

#en {
  margin-top: 15em;
  font-weight: 600;
  color: #c1c1c1; }
