html, body, main, section, article, div {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #252525;
  margin: 0;
  width: 100%;
  height: auto; }

p {
  margin: 0; }

h1 {
  font-weight: 400;
  font-size: 2.2rem; }

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0; }

h3 {
  font-size: 1.6rem;
  font-weight: 100; }

.line-h {
  line-height: 27rem; }

.font_dark {
  color: #252525; }

ul {
  font-size: 1.8rem; }

li {
  list-style: none; }

.bg-image {
  width: 100%;
  height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.menu {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0rem; }

.menu_list {
  list-style: none; }

.linkmenu {
  display: inline-block;
  width: 50%;
  padding: 0 1rem 0.5rem 0.5rem;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 200; }

.menu_list:after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.7s;
  /* border or (height & background) etc. */
  border-bottom: 1px solid beige;
  /* margin: 0 auto; */
  /* left to right -> middle out */ }

.menu_list:hover:after {
  width: 120%; }

.box {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center; }

/*========
   ABOUT
 ========*/
#popinAbout {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300; }
  @media screen and (min-width: 750px) {
    #popinAbout {
      flex-direction: row;
      width: 90%;
      margin: 0.5rem auto; } }
  #popinAbout h1 {
    text-decoration: underline;
    color: beige; }
  #popinAbout h2 {
    display: inline-block;
    color: beige; }
  #popinAbout li {
    font-size: 1.6rem;
    line-height: 2.7rem; }

.flex_row_left, .flex_row_right {
  padding: 1rem;
  width: auto;
  background-color: rgba(178, 148, 148, 0.95); }
  @media screen and (min-width: 750px) {
    .flex_row_left, .flex_row_right {
      width: 50%;
      padding: 2rem; } }
  .flex_row_left ul, .flex_row_right ul {
    margin-top: 1rem; }

.h1_who, .h1_cv, .h1_work {
  position: absolute;
  width: 100%;
  text-align: center;
  color: beige;
  margin: auto;
  cursor: pointer; }

.h1_who:hover, .h1_cv:hover, .h1_work:hover {
  text-shadow: 1px 1px 7px #b29494; }

#popinCV {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: left;
  font-weight: 200;
  margin: auto;
  height: auto;
  background-color: rgba(178, 148, 148, 0.95); }
  @media screen and (min-width: 1000px) {
    #popinCV {
      width: 90%;
      margin: 0.5rem auto; } }
  #popinCV h2 {
    padding-left: 1rem;
    text-decoration: underline; }
  #popinCV .edu {
    color: beige; }
  #popinCV .experience {
    background-color: rgba(178, 148, 148, 0.95); }

.li-flex {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin: 0; }
  @media screen and (min-width: 1000px) {
    .li-flex {
      flex-direction: row;
      line-height: 3rem; } }
  .li-flex .li-align {
    display: block;
    position: inherit;
    margin-bottom: 1rem;
    font-size: 1.6rem; }
    @media screen and (min-width: 1000px) {
      .li-flex .li-align {
        position: absolute;
        left: 23rem; } }
  .li-flex p {
    padding-left: 1rem;
    margin-bottom: 0; }
    @media screen and (min-width: 1000px) {
      .li-flex p {
        padding-left: 3rem; } }

#popinWork {
  background-color: rgba(178, 148, 148, 0.95); }
  #popinWork .title {
    color: white;
    text-align: left;
    margin-top: 1rem; }
    @media screen and (min-width: 750px) {
      #popinWork .title {
        margin-left: 10rem; } }
    #popinWork .title li {
      list-style: circle;
      color: #252525; }

/*SVG modification*/
.mySvg {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 7rem; }

/*# sourceMappingURL=main.css.map */
