@import 'mixin';

$gray-dark: #252525;
$gray-light: #574f4f;
$side-margin: 0.5rem;
$font-s: 1.4rem;
$font-m: 1.8rem;
$font-l: 2.2rem;
$font-ll: 2.8rem;
$font-xl: 3.6rem;
$mobile: 400px;
$phablet: 550px;
$tablet: 750px;
$desktop: 1000px;
$desktop-l: 1200px;
$osans-c: 'Open Sans Condensed', sans-serif;
$background-color: rgb(178, 148, 148);

html, body, main, section, article{
    font-family: $osans-c;
    background-color: $gray-dark;
    width: 100%;
    height: auto;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: $font-l;
}

h2 {
  font-size: $font-m;
  font-weight: 300; 
}

h3 {
    font-size: $font-s;
    font-weight: 100;
}

.line-h {
    line-height: 27rem;
}

.font_dark {
    color: $gray-dark;
}

ul{
    font-size: $font-m;
}

li {
    list-style: none;
}

.text-centering {
    text-align: center;
}

.bg-color-div {
    background: $background-color;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    position: relative;
    z-index: 2;
}

.menu {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: absolute;
    bottom: 0rem;
    z-index: 3;
}

.menu_list {
    list-style: none; }

.linkmenu {
    display: inline-block;
    width: 50%;
    padding: 0 1rem 0.5rem 0.5rem;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    font-size: $font-s;
    font-weight: 200;
}

.menu_list:after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.7s;
  /* border or (height & background) etc. */
  border-bottom: 1px solid beige;
  /* margin: 0 auto; */ /* left to right -> middle out */
}

.menu_list:hover:after {
  width: 120%;
}

.box {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
}

.arrow-top {
    text-align: right;
    z-index: 0;
    img {
        position: fixed;
        bottom: 2rem;
        right: 1rem;
        cursor: pointer;
        transform: scale(0.8);
    }
    .page-top {
        color:rgb(183, 123, 123);
        position: fixed;
        bottom: 3rem;
        right: 1.2rem;
        z-index: 1;
        text-shadow: 0 0 3px white;
        &:hover {
            display: inline;
        }
        
    }
}
/*========
   ABOUT
 ========*/
#popinAbout {
    display: flex;
    flex-direction: column;
    @include min-screen($tablet){
        width: 90%;
        margin: 0.5rem auto;
    }
    text-align: left;
    font-family: $osans-c;
    font-weight: 300;
    h1 {
        color: beige;
    }
    
    h2 {
        display: inline-block;
        color:beige;
    }
    
    li {
        font-size: $font-s;
        line-height: 2.7rem;
    }
}

.about-desktop-layout{
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    @include min-screen($desktop){
        flex-direction: row;
    }
}
.flex_row_left, .flex_row_right {
    padding: 1rem;
    background-color: $background-color;
    @include min-screen($tablet){
        padding: 2rem;
    }
    @include min-screen($desktop){
     background-color: transparent;
        width: 50%;
    }
    
    ul {
        margin-top: 1rem;
    }
}

.h1_who, .h1_cv, .h1_work {
    position:absolute;
    width: 100%;
    text-align: center;
    color: beige;
    margin: auto;
    cursor: pointer;
}

.h1_who:hover, .h1_cv:hover, .h1_work:hover {
    text-shadow: 1px 1px 7px rgb(178, 148, 148);
}

// CAREERS AND EDUCATIONS
#popinCV {
    font-family: $osans-c;
    text-align: left;
    font-weight: 200;
    margin: auto;
    height: auto;
    @include min-screen($desktop){
        width: 90%;
        margin: 0.5rem auto;
    }
    background-color: $background-color;
    h2{
        padding-left: 1rem;
    }
    .edu{
        color: beige;
    }
    .experience {
        background-color: $background-color;
    }
}
.ul-cv {
    padding-left: 1rem;
    @include min-screen ($desktop){
            padding-left: 5rem;
        }
}
.li-flex{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
        @include min-screen ($desktop){
            flex-direction: row;
            line-height: 3rem;
        }
    .li-align{
            display: block;
            position: inherit;
            margin-bottom: 1rem;
        font-size: $font-s;
        @include min-screen ($desktop){
            position: absolute;
            left: 23rem;
        }
    }
    p {
        padding-left: 1rem;
        @include min-screen ($desktop){
            padding-left: 3rem;
        }
        margin-bottom: 0;
    }
}

// PROJECTS AT SCHOOL
#popinWork {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    
    @include min-screen($tablet){
        width: 90%;
        margin: 0.5rem auto;
    }
    .title{
        color: white;
        text-align: left;
        padding-top: 1rem;
        width: 100%;
        h3 {
            padding-left: 2rem;
        }
        li{
            padding-left: 1rem;
            list-style: none;
            color: $gray-dark;
            font-size: $font-s;
            line-height: $font-s + 1;
            
            li{
                list-style: none;
                &:after {
                content: "";
                display: block;
                width: 0;
                transition: width 0.7s;
                border-bottom: 3px solid rgba(245, 245, 220, 0.5);
                }
                &:hover:after {
                width: 80%;
                }
            }
        }
        
        a{
            text-decoration: none;
            color: $gray-dark;
        }
    }
}

.positioning-work {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include min-screen ($tablet){
            flex-direction: row;
        }
}

/*SVG modification*/
.mySvg {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 7rem;
}