@import 'mixin';

$gray-dark: #252525;
$gray-light: #574f4f;
$side-margin: 0.5rem;
$font-s: 1.6rem;
$font-m: 1.8rem;
$font-l: 2.2rem;
$font-ll: 2.8rem;
$font-xl: 3.6rem;
$breakpoint-mobile: 680px;
$osans-c: 'Open Sans Condensed', sans-serif;

html, body {
    font-family: 'Shadows Into Light', cursive;
    font-size: 62.5%; 
    color: white;
    background-color: $gray-dark;
}

html, body, p {
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: $font-ll;
}

h2 {
  font-size: $font-l;
  font-weight: 300; }

h3 {
    font-size: $font-m;
    font-weight: 100;
}

.line-h {
    line-height: 27rem;
    @include max-screen($breakpoint-mobile){
        .line-h {
            line-height: 27rem;
        }
    }
}

.font_dark {
    color: $gray-dark;
}

ul{
    font-size: $font-l;
}

li {
    list-style: none;
}

.bg-image {
  width: 100%;
  height: 66rem;
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.menu {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 8rem; 
}

@media screen and (max-width: $breakpoint-mobile){
    .menu {
      display: none; }
}

.menu_list {
    list-style: none; }

.linkmenu {
    display: block;
    width: 95%;
    padding: 2rem 1rem 0.5rem 0.5rem;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    font-size: $font-l;
    font-weight: 200;
}

.menu_list:after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.7s;
  /* border or (height & background) etc. */
  border-bottom: 1px solid white;
  /* margin: 0 auto; */ /* left to right -> middle out */
}

.menu_list:hover:after {
  width: 150%;
}

.box {
    margin: 1rem $side-margin;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
}
/*========
   ABOUT
 ========*/
#popinAbout {
    display:flex;
    flex-direction: row;
    position:relative;
    width: 70%;
    @include max-screen ($breakpoint-mobile){
            width: 100%;
    }
    margin: auto;
    height: auto;
    text-align: left;
    font-family: $osans-c;
    font-weight: 200;
    
    h1 {
        text-decoration: underline;
    }
    li {
        list-style: circle;
        font-size: $font-m;
        line-height: 2.7rem;
    }
}
.flex_row_left, .flex_row_right {
    width: 50%;
    background-color: rgba(178, 148, 148, 0.95);
    @include max-screen ($breakpoint-mobile){
        width: 100%;
    }
}

.h1_who {
    position:absolute;

}

.h1_cv {
    position:absolute;
}



@media screen and (max-width: $breakpoint-mobile){
    .mainBody {
        margin: 0;
    }
    .box {
    margin: 1rem auto;
    width: 99%;
    height: 25rem;
    }
    
    #popinAbout {
        flex-direction: column;
    }
}

// CAREERS AND EDUCATIONS

#popinCV {
    position:relative;
    width: 70%;
    @include max-screen ($breakpoint-mobile){
            width: 100%;
        }
    text-align: left;
    font-weight: 200;
    margin: auto;
    height: auto;
        @include max-screen ($breakpoint-mobile){
            padding: 0;
        }
    background-color: rgba(178, 148, 148, 0.95);
}



.li-flex{
    display: flex;
    flex-direction: row;
        @include max-screen ($breakpoint-mobile){
            display: inline-block;
            flex-direction: column;
            width: 100%;
        }
    .li-align{
        position: absolute;
        left: 23rem;
        @include max-screen ($breakpoint-mobile){
            display: block;
            position: inherit;
        }
    }
}

// PROJECTS AT SCHOOL

#work {
    background-image: url(../images/pc_075x.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 960px){
    #work {
        position: relative;
    }
}

/*SVG modification*/
.mySvg {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 17rem;
}