@import 'components/font';
@import 'components/variables';
@import 'components/mixin';
@import 'components/jptext';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #ffffff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: $limegreen;
}

.title-font-size{
    font-size: 2.5rem;
}
.bonnie-font {
    font-family: "arbonnie";
}

.menu-font-size{
    font-size: 1.5rem;
}
.mylogo {
    position: relative;
    top: 6rem;
}

.my-header {
    height: 600px;
}

#js-lists{
    margin-left: 1rem;
}

#js-lists > li{
    line-height: 3rem;
}

.code-link {
    padding-left: 2rem;
    color: rgb(38, 166, 154);
}

.code-link:hover {
    transition: all 0.3s ease-in-out;
    color: rgb(38, 58, 166);
    text-decoration: underline;
}

.middle-div {
    border-top: 0.3px solid $limegreen;
    border-bottom: 0.3px solid $limegreen;
}

.l-height {
    line-height: 12rem;
}
.d-height{
    height: 12rem;
    ul {
        line-height: 12rem;
    }
}
@media only screen and (max-width : 992px) {
  .parallax-container .section{
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@include max-screen(600px) {
  #index-banner .section {
    top: 0;
  }
}

.left-align  li p {
    margin: 0 auto;
}
.edu p {
    color: $light-grey;
}

footer.page-footer {
  margin: 0;
}