# dependencies
node_modules/

# testing
coverage

#code
src/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

sass/
parallax-template/
package.json
temp/
service-worker.js
page-update.md
